html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button,
[type=button], [type=file], [type=image], [type=password],
[type=reset], [type=submit], [type=text], [type=date],
[type=datetime-local], [type=email], [type=month], [type=number],
[type=search], [type=tel], [type=time], [type=url], [type=week] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: baseline;
  line-height: initial;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  /* Prevents screen from shifting when content overflows the height of the screen */
  overflow-y: scroll;
  /* Enable antialiasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

acronym, applet, basefont, big, center, dir, font,
frame, frameset, isindex, noframes, s, strike, tt, u,
[type=datetime] {
  /* Deprecated tags */
  display: none;
}

*, *::before, *::after {
  /* Intuitive layout defaults */
  box-sizing: border-box;
  outline-offset: 0;
  
}
*::before, *::after{
  display: block;
}

textarea {
  resize: vertical;
  /* Remove the default vertical scrollbar in IE 11 */
  overflow: auto;
}



a{
  text-decoration: unset;
}
button{
  border: none;
  background: none;
  cursor: pointer;
}
input:focus,
select:focus{
  outline: unset;
}